section
  h2 Colors
  p Colors are available as variables and downloadable <a href='https://github.com/andyet/yeticss/blob/gh-pages/assets/swatches/andyet.aco'>Photoshop swatch</a>.

  h3 Monochromatic
  ul.cf.list-unstyled.list-inline
    li.color.gray1
      $gray-darker
    li.color.gray2
      $gray-dark
    li.color.gray3
      $gray
    li.color.gray4
      span $gray-light
    li.color.gray5
      $gray-lighter

  h3 Blues
  ul.cf.list-unstyled.list-inline
    li.color.blue1
      $blue
    li.color.blue2
      $blue-light
    li.color.blue3
      $blue-lighter
      
  h3 Purple
  ul.cf.list-unstyled.list-inline
    li.color.purple1
      $purple
    li.color.purple2
      $purple-light
    li.color.purple3
      $purple-lighter

  h3 Pinks
  ul.cf.list-unstyled.list-inline
    li.color.pink1
      $pink
    li.color.pink2
      $pink-light
    li.color.pink3
      $pink-lighter

  h3 Reds
  ul.cf.list-unstyled.list-inline
    li.color.red1
      $red
    li.color.red2
      $red-light
    li.color.red3
      $red-lighter

  h3 Oranges
  ul.cf.list-unstyled.list-inline
    li.color.orange1
      $orange
    li.color.orange2
      $orange-light
    li.color.orange3
      $orange-lighter
      
  h3 Yellow
  ul.cf.list-unstyled.list-inline
    li.color.yellow1
      $yellow
    li.color.yellow2
      $yellow-light
    li.color.yellow3
      $yellow-lighter

  h3 Greens
  ul.cf.list-unstyled.list-inline
    li.color.green1
      $green
    li.color.green2
      $green-light
    li.color.green3
      $green-lighter
