/*--------------------------------------------------------------------
*
* $COLORS
*
--------------------------------------------------------------------*/

// - Basic
$white = #ffffff
$black = #000000

//- Monochromatic

$gray = #515e60
$gray-darker = darken($gray, 50%)
$gray-dark = darken($gray, 25%)
$gray-light = lighten($gray, 50%)
$gray-lighter = lighten($gray, 85%)

//- Blues

$blue = #00B7D9
$blue-light = lighten($blue, 50%)
$blue-lighter = lighten($blue, 90%)

//- Purples

$purple = #49176e
$purple-light = lighten($purple, 50%)
$purple-lighter = lighten($purple, 85%)

//- Pinks

$pink = #ee0788
$pink-light = #fec1d1
$pink-lighter = #ffedf2

//- Greens

$green = #bcda43
$green-light = lighten($green, 50%)
$green-lighter = lighten($green, 85%)

//- Reds

$red = #ed684e
$red-light = lighten($red, 80%)
$red-lighter = lighten($red, 90%)

//- Orange

$orange = #ffa651
$orange-light = lighten($orange, 50%)
$orange-lighter = lighten($orange, 85%)

//- Yellow

$yellow = #fece55
$yellow-light = lighten($yellow, 50%)
$yellow-lighter = lighten($yellow, 85%)
